@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

* {
  --swiper-theme-color: white;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 13px;
  --swiper-pagination-bullet-height: 13px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 14px;
  --swiper-navigation-top-offset: 45%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.25);
}
.swiper-button-prev {
  margin-left: -10px;
}
.swiper-button-next {
  margin-right: -10px;
}

@media (max-width: 850px) {
  .swiper {
    border-radius: 5px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 7px;
    --swiper-pagination-bullet-height: 7px;
    --swiper-pagination-bullet-horizontal-gap: 2px;
    margin-bottom: -10px !important;
  }
}
